@font-face {
    font-family: 'Neulis Alt';
    src: url('NeulisAlt-Black.woff2') format('woff2'),
        url('NeulisAlt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

